@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');

body{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color:#0e1217 ;
}

.card{
  perspective: 150rem;
  position: relative;
  height: 40rem;
  max-width: 400px;
  margin: 2rem;
  box-shadow: none;
  background: none;
}
.card-side{
  color: white;
  height: 35rem;
  border-radius: 20px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
}
.card-side.back{
  transform: rotateY(-180deg);
  background-color: #4158d0;
  background-image: linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8))
}
.card-side.front{
  background-color: #0093E9;
  background-image: linear-gradient(to right, rgb(134,239,172), rgb(59,130,246), rgb(147,51,234));
}
/* .card:hover .card-side.front{
  transform: rotateY(180deg);
}
.card:hover .card-side.back{
  transform: rotateY(0deg);
} */